{% extends 'base.html.twig' %}

{% block title %}Equipes -
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container col-12">
        <div class="row margin-top-phone">
            <div class="col-12">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            {% if is_granted("ROLE_ADMIN") %}
                            <th scope="col">Département</th>
                            {% endif %}
                            <th scope="col">Date de création</th>
                            <th scope="col">Dernière modification</th>
                            {% if is_granted("ROLE_ADMIN") %}
                            <th scope="col">Edition</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                            <tr>
                                <th scope="row">
                                    <a href="{{ path('job_show', {'id': job.id}) }}">
                                        {{ job.name }}
                                    </a>
                                </th>
                                <th scope="row">
                                    <a href="{{ path('department_show', {'id': job.department.id}) }}">
                                        {{ job.department.name }}
                                    </a>
                                </th>
                                <td>{{ job.createdAt|date('d/m/Y') }}</td>
                                <td>{{ job.updatedAt|date('d/m/Y') }}</td>
                                {% if is_granted("ROLE_ADMIN") %}
                                <td>
                                    <a href="{{ path('job_edit', {'id': job.id}) }}">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ path('job_deleteId', {'id': job.id}) }}">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}